.login {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #f1f1f1;
  .logo {
    display: block;
    width: 200px;
    margin: 50px auto 20px;
  }
  .ipt-con {
    margin: 0 auto 20px;
    width: 400px;
    text-align: center;
  }
}
