.setting {
  .ant-layout-header {
    height: 60px;
    line-height: 40px;
    padding: 0 10px;
    h3 {
      height: 25px;
      font-weight: 600;
    }
    span {
      font-size: 14px;
    }
  }
  .devSetting {
    margin-top: 5px;
    p {
      padding: 10px;
    }
  }
}
